*{
font-family: arial;
font-size: 20px;
}

body{
background-color: #1A5112;
text-align: justify;
float: center;
justify-self: center;
}

section{
width: 40%;
margin-left: 20px;
background-color: green;
border-radius: 5%;
}